<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-sass.css">
    <title>Polar Trip</title>
</head>
<body>
    <header>
        <!-- <div class="headerBox"> -->
            <div class="mainLogo"><a href="/">
                <img src="images/logo-polar-tour.png">
                <h1>Polar Trip</h1></a>
            </div>
            <nav class="mainMenu">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/form">inscrição</a></li>
                    <li><a href="/sobre">sobre</a></li>
                </ul>
            </nav>
        <!-- </div>     -->
    </header>
    <main>
        <!-- <div class="main"> -->
            <section>
                <div id="introBox">
                    <div id="introTextBox">
                        <h2>Apresentação</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. Remaining essentially unchanged.</p>
                    </div>
                </div>
            </section>

            <section>
                <div id="midiaBox">
                    <div id="midiaBoxText">
                        <h2> Midia</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. Remaining essentially unchanged.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div id="midiaBoxPhoto">
                        <img src="images/PolarTrip01.jpg">
                        <img src="images/PolarTrip02.jpg">
                        <img src="images/PolarTrip03.jpg">
                        <img src="images/PolarTrip04.jpg">
                        <img src="images/PolarTrip05.jpg">
                        <img src="images/PolarTrip06.jpg">
                    </div>
                <!-- </div> -->
            </section>
            <section>
                <div id="locationMap">
                    <div id="locationBoxText">
                        <h2>Localização</h2>
                    </div>
                    <div id="locationMapsImages">
                        <img src="images/mapa-mundi.png" id="mapaMundi">
                        <!-- <img src="images/mapa-globo.png" id="mapaGlobo"> -->
                    </div>
                </div>
            </section>
            <section>
                <div id="subscribeBox">
                    <p><a href="/form">inscreva-se</a></p>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <!-- <div class="footerBox"> -->
            <div class="botton-logo">
                <img src="images/logo-polar-tour-botton.png">
                <p>copyright - Polar Trip</p>
                <p id="developer">developed by Suelen Batista</p>
            </div>
            <div class="social-medias">
                <ul>
                    <li><a href="#">Instagran</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
        <!-- </div>   -->
    </footer> 
</body>
</html>
